*{
   padding: 0;
   margin: 0;
}

#header{
   background-color: aqua;
   width: 100%;
   height: 150px;
}
.container1{
   background-color: chocolate;
   width: 100%;
   height: 400px;
}
.container2{
   background-color: orange;
   width: 100%;
   height: 400px;

}
div{
   background-color: green;
   width: 100%;
   height: 200px;
}